/* .App {
    text-align: center;
  }
   */
  .loading-image {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .loading-image {
      animation: loading-image-spin infinite 20s linear;
    }
  }
  
  @keyframes loading-image-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(2000deg);
    }
  }
  